
.Contact {
  background-color: #ddd;
  padding-top: 50px;
  height: 100vh;
  width: 100vw;
}

.Contact .Header {
  text-align: center;
  width: 100%;
  margin: auto;
}

.Contact .Bottom {
  padding: 50px;
}

.Blurb {
  text-align: center;
  font-size: 25pt;
  margin-bottom: 25px;
}

.Contact hr {
  width: 75%;
}

.Form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.Form > div {
  margin: 15px;
  width: 100%;
}

.Form .Section {
  background-color: transparent;
  width: 100%;
}

.Error {
  border: solid 1px #f00;
}

.Info {
  width: 50%;
  text-align: center;
  margin-top: 25px;
}

.Info > * {
  margin-top: 35px;
}
