
.Contact {
  background-color: #ddd;
  padding-top: 50px;
  width: 100%;
  height: 80.7vh;
}

.Contact .Header {
  text-align: center;
  width: 100%;
  margin: auto;
}

.Contact .Bottom {
  padding: 50px;
}

.Blurb {
  text-align: center;
  font-size: 25pt;
  margin-bottom: 25px;
}

.Contact hr {
  width: 75%;
}

.Form {
  float: left;
  width: 50%;
}

.Form>* {
  margin: 15px;
}

input.Name {
  width: 97%;
}

textarea.Message {
  display: block;
  width: 100%;
  height: 100px;

  cursor: text;
  resize: none;
}

input.Email {
  width: 97%;
}

.Error {
  border: solid 1px #f00;
}

.Info {
  float: left;
  width: 50%;
  text-align: center;
  margin-top: 25px;
}

.Info > * {
  margin-top: 35px;
}
