
.Sidebar {
  width: 19%;
  height: 90vh;
  float: left;
  background-color: #ddd;
  border: solid 1px #000;
  border-width: 1px 1px 0px 0px
}

.Sidebar .Links {
  margin: 25px 0px 0px 0px;
}

.Link {
  display: block;
  padding: 19px 0px 0px 0px;
  height: 40px;
}

.Link:nth-child(odd) {
  background-color: #fff;
  width: 100%;
}

.Link:hover {
  background-color: #ccc;
}

.Sidebar a {
  color: #666;
  text-decoration: none;
  margin: 0px 0px 0px 35px;
}

.Body {
  width: 80%;
  float: left;
  border: solid 1px #000;
  border-width: 1px 0px 0px 0px
}
