.BlogPost {
  background-color: #fff;
  margin: 10px;
  padding: 15px;

  border: solid 1px #000;
  border-radius: 15px;
}

.BlogPost .Title {
  font-size: 20pt;
  font-weight: bold;

  display: inline-block;
}

.BlogPost .Date {
  font-size: 10pt;
  color: #999;

  display: inline-block;

  vertical-align: text-top;
  float: right;
}

.BlogPost .Description {
  font-size: 12pt;
  color: #666;
}

.BlogPost .Contents {
  margin: 5px 0px 5px 0px;
}
