
.Intro {
  display: block;
  background-size: cover;
  background-color: #fff;
  background-image: url('./intro.png');
  background-blend-mode: luminosity;
  height: 650px;
  display: flex;
}

.Center {
  margin: auto;
}

.Photo {
  width: 200px;
  border-radius: 50%;
  background-color: black;
  border: solid 15px #555;
}

.PhotoText {
  color: white;
  text-align: center;
  font-size: 30pt;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Portfolio {
  padding: 15px;
  background: #fff;
}

.Header {
  margin-left: 60px;
  font-size: 25pt;
  font-weight: bold;
  display: inline-block;
}

.Projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.SkillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 250px 0px 250px;
}

.SkillList * {
  background-color: #fff;
  margin: 10px;
  padding: 15px 20px 15px 20px;
  border-radius: 25px;

  border: solid 1px #888;
  box-shadow: 10px 10px 5px #eee;
}

.Blog {
  padding: 15px 5px 35px 5px;
  background-color: #fff;
}

.MoreButton {
  float: right;
  margin: 0px 10px 10px 0px;

}
