
.Header_Section {
  height: 650px;
  display: flex;
  overflow: hidden;
}

.Header_Section .Container {
  position: relative;
  width: 100%;
}

.Background_Image {
  position: absolute;
  width: 100%;
}

.Header_Body {
  position: absolute;
  width: 100%;
  top: 25%;
  display: flex;
  flex-direction: column;
}

.Photo_Border {
  background-color: #666;
  border-radius: 50%;
  width: 15%;
  padding: 1em;
  margin: auto;
}

.Photo {
  border-radius: 50%;
  width: 100%;
}

.Header_Text {
  color: #fff;
  text-align: center;
  font-size: 30pt;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.Section {
  padding: 15px;
}

.Section:nth-of-type(odd) {
  background-color: #fff
}

.Header {
  margin-left: 60px;
  font-size: 25pt;
  font-weight: bold;
  display: inline-block;
}

.SkillList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 250px 0px 250px;
}

.SkillList * {
  background-color: #fff;
  margin: 10px;
  padding: 15px 20px 15px 20px;
  border-radius: 25px;

  border: solid 1px #888;
  box-shadow: 10px 10px 5px #eee;
}
